<div class="forum">
	<div class="forum-name">
		<%= h @forum.name %>
	</div>
	<div class="forum-content">
		<%= h @forum.description %>
	</div> 
</div>

<p> <%= link_to("read posts ",forum_posts_path(@forum)) %></p>

<p> <%= link_to ("Edit this forum" ,edit_forum_path(@forum)) %></p>	
<p> <%= link_to ("Back to index" , forums_path() )%></p>
