<style type="text/css">
	.post-poster,.post-title,.post-content,.insert-button{
		padding:20px;
	}
</style>

<% form_for @post, :url => admin_forum_posts_path(@forum) , :method=>:put do |f| %>
	
	
	<div class="post-poster">
	    <%= f.label :title, "Poster" %>
  		<%= h "#{current_user.login} ( #{current_user.email})"%>
	</div>
	<div class="post-title">
	    <%= f.label :title, "Post Title" %>
	    <%= f.text_field :title %>
	</div>
	<div class="post-content">
    	<%= f.label :content, "content" %>
    	<%= f.text_area :content %>
	</div>
    
	<div class="insert-button">
    	<%= f.submit "Create a Post" %>
	</div>
<% end %>
