<style type="text/css">
	.forum-poster,.forum-title,.forum-content,.insert-button{
		padding:20px;
		clear:both;
		width:600px;
	}
	.forum-Poster-header,.forum-title-header,.forum-content-header{
		width:150px;
		text-align:center;
		float:left;
	}
	.forum-Poster-content,.forum-title-content,.forum-content-content{
		width:250px;
		float:left;
		padding-left:40px;
		
	}
	.links{
		clear:both;
		padding:5px;
		margin-top:40px;
	}
	.links a{
		display:block;
		padding:10px;
	}
</style>

<div class='forum'>
	<div class="forum-poster">
		<div class="forum-Poster-header">
			Poster
		</div>		
		<div class="forum-Poster-content">
			 <%= h "#{@post.user.name} ( #{@post.user.email})"%>
		</div>
	</div>	
	<div class="forum-title">
		<div class="forum-title-header">
			Title
		</div>
		<div class="forum-title-content">
			<%= h @post.title %>
		</div>
	</div>
	<div class="forum-content">
		<div class="forum-content-header">
			Content
		</div>
		<div class="forum-content-content">
			<%= h @post.content %>
		</div>
	</div> 
</div>

<div class="links">
	<%= link_to("Edit this post" , edit_admin_forum_post_path(@forum,@post) )%>
	<%= link_to("Back to index" , admin_forum_posts_path(@forum)) %>
</div>