<style type="text/css">
	.post-poster,.post-title,.post-content,.update-button{
		padding:20px;
	}
</style>

<% form_for @post, :url => forum_post_path(@forum,@post) , :method=>:put do |f| %>

    <div class="post-poster">
      <%= f.label :title, "Poster" %>
      <%= h @post.user[:name] + "(" + @post.user[:email] + ")"%>
    </div>
	<div class="post-title">
	    <%= f.label :title, "Post Title" %>
	    <%= f.text_field :title %>
	</div>
	<div class="post-content">
		<%= f.label :content, "content" %>
		<%= f.text_area :content %>
	</div>

	<div class="update-button">
		<%= f.submit "Update" %>
	</div>
<% end %>
